node_modules/*
docs/*
docs-src/*
rollup.config.js
custom-elements.json
web-dev-server.config.js
src\models
typedoc/*
update-version.js
service-worker-rollup.config.js
src/sw.js
src/models/*
generate-release-notes.js
clean-dist-directory.js
csv-to-json.js
src/leaflet-kml.d.ts
amplify-codegen-temp\models

src\models\models

amplify-codegen-temp\models\models

src/models/models

amplify-codegen-temp/models/models
