{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "plugins": ["prettier-plugin-go-template", "prettier-plugin-organize-imports"],
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["website/**/*.html"],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}
